@media screen and (max-width:576px) {
   
    .banner{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .donate{
        width: 100%;
    }
    .donate-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .donate-card{
        width: 45%;
        height: 100px;
    }
    .plan-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
   
   
    .help-card{
       grid-template-columns: repeat(1, 1fr);
       
    }
   
   
}