@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared css starts */
  .color-1{
    color: rgba(255, 255, 255, 1);
  }
  .color-btn{
    background-color: rgba(255, 89, 89, 1);
  }
  .color-2{
    color: rgba(18, 18, 18, 1);
  }
  .color-3{
    color: rgba(112, 112, 112, 1);
  }

  /* shared css ends*/

  /* header css starts */
  header{
    background-image:linear-gradient(0deg, rgba(18, 18, 18, 1),rgba(18, 18, 18, 0)), url(../images/donation6.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* height: 500px; */
  }
  .banner{
    width: 1060px;
    margin: 0 auto;
    border: 1px solid tomato;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;

  }
  .banner-text{
    font-size: 1.12rem;
    font-weight: 400;
    text-align: center;
  }
  .banner-btn{
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
    margin: 0 auto;

  }

  /* header css ends */

  /* main css starts */
  /* donate css start */
  main{
    width: 1060px;
    margin: 0 auto;
  }
  .donate{
    border: 1px solid tomato;
    margin-top: 80px;
  }
  .donate-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;

  }
  .donate-text{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;

  }
  .donate-container{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
  }
  .donate-card{
    /* border: 1px solid darkred; */
    width: 55%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
   
   
  }
  .donate-card-title{
    font-size: 1.8rem;
    font-weight: 700;
    background-color: rgba(250, 250, 250, 0.445);
    text-align: center;
    margin-top: 30px;
  }
  .two-hundred{
    border: 1px solid rgba(255, 89, 89, 1);
    background: rgba(255, 89, 89, 0.233);
    
  }
  /* donate css ends */

  /* other-amount css starts */
  .other-amount{
    /* border: 1px solid green; */
    margin-top: 60px;
  }
  /* other-amount css ends */

  /* plan css starts */
  .plan{
    border: 1px solid tomato;
    margin-top: 130px;
  }
  .plan-container{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .plan-card{
    /* border: 1px solid darkred; */
    background-color: rgba(255, 89, 89, 0.1);
    width: 65%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .plan-card-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
  }
  .plan-card-text{
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 10px;

  }
  .plan-card img{
    margin-top: 10px;
    margin-left: 10px;
  }

  /* plan css ends */

  /* help css starts */
  .help{
    border: 1px solid tomato;
    margin-top: 130px;
  }
  
  
  
  .help-card{
    /* border: 1px solid darkred; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .help-card-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    padding: 20px;
  }
  .help-card-text{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    
  }
  .help-card img{
    width: 100%;
    border-radius: 10px;
  }
  .Contribute-btn{
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 16px 21px;
    display: block;
    margin: 0 auto;
  }
  
  /* help css ends */

  /* update css starts */
  .update{
    border: 1px solid tomato;
    width: 800px;
    margin: 0 auto;
    margin-top: 130px;
  }
  .update-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
  }
  .update-text{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
  }
  .input{
    /* border: 1px solid green; */
    background-color: rgba(255, 244, 214, 1);
    text-align: center;
    padding: 50px;
  }
  input{
    background-color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 5px;
    padding: 14px 42px;
  }
  .Subscribe{
    border: none;
    border-radius: 5px;
    padding: 14px 42px;
    font-size: 1rem;
    font-weight: 500;

  }
  /* update css ends */






  /* main css ends */
  